* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div[role="dialog"] {
    width:400px !important;
}
div[role="dialog"] button  {
    color: transparent !important;
    outline: none;
}
.ui-widget-content {
    background: #c9c9c9;
    text-align: center;
}
header {
    height: 50px;
    width: 100%;
    padding: 15px 25px;
    position: relative;
    border-bottom: 0.5px solid rgb(157, 194, 157);
    background-color:#1f2a1b;
}    
    header * {
        display:inline-block;
        vertical-align: middle;
        margin-right: 25px;
        text-decoration: none;
        color: #a2afa3;
        font-weight: bolder;
    }
    header a:first-child {
        font-size: 1.4em;
        float: left;
        margin-top:-4px;
    }
    header a {
        float: right;
    }
body {
    background-color: rgb(245, 245, 245);
    font-family: Helvetica;
    color: #675c67;
}        
    body a:hover {
        color:#8cc474;
    }    
body header + a {
    display: inline-block;
    margin: 10px 0 0 90%;
}        
    fieldset {
        margin-top: 20px;
        width: 220px;
        padding: 20px;
        display: inline-block;
        vertical-align: top;
        margin-left: 75px;
        box-shadow: 2px 6px 21px -10px rgba(125,124,125,0.68);    
        border: 2px solid lightgray;
        background-color: rgb(245, 245, 245);
    }
        fieldset legend {
            padding: 0 2px;
            margin: 0 auto;
        }
        fieldset > *:not(legend){
            margin-bottom: 4px;
        }
        fieldset form input, textarea {
            margin-bottom: 10px;
            width: 175px;
        }
        fieldset form input[type='submit'] {
            margin: 20px 0 0 0;
            background: linear-gradient(0deg, rgba(78,141,132,0.9580707282913166) 43%, rgba(193,224,207,1) 93%);        padding: 3px 5px;
            padding: 3px 5px;        
        }